@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  * {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-[#f4f6f8] text-gray-900 dark:bg-slate-950 dark:text-gray-100;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}